html, body, #App {
  height: 100%;
  width: 100%;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#App {
  padding: 12px 12px 20% 12px;
  min-height: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

#cursor {
  background-color: white;
  height: 1rem;
  width: 0.5rem;
  display: inline-block;
  transform: translateY(2px);
  animation: blink 1s infinite;
}

#term-inp {
  background-color: blue;
  border: none;
  color: white;
  font-family: "Fira Code", monospace;
  font-size: 1rem;
  outline: none;
  width: -moz-min-content;
  width: min-content;
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
    transform: translateY(2px) scale(0.9);
  }
  50% {
    opacity: 1;
    transform: translateY(2px) scale(1);
  }
}
body {
  background-color: black;
  color: white;
  font-family: "Fira Code", monospace;
}

.orange {
  color: #f57e20;
}

a {
  text-decoration: none;
  color: #f57e20;
}
a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.3rem;
}

form {
  display: inline-flex;
  flex-direction: column;
}

input {
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
  font: inherit;
  padding: 0;
}
input#autocomplete {
  color: grey;
}

h2 {
  font-weight: normal;
}

.about-links p {
  margin: 12px 0;
}
.about-links img {
  display: inline-block;
  height: 1.2rem;
  margin: 0 0.5rem;
  vertical-align: sub;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery .gallery-item {
  width: -moz-min-content;
  width: min-content;
  padding: 0.5rem;
}
.gallery .gallery-item img {
  height: 12rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}
.projects .project-tile {
  width: 24rem;
  margin: 0.5rem;
  position: relative;
  overflow: auto;
}
.projects .project-tile .links {
  display: flex;
  justify-content: space-evenly;
}
.projects .project-tile h3 {
  margin: 0 auto 1rem auto;
  width: -moz-fit-content;
  width: fit-content;
}
.projects .project-tile img {
  margin: 0 1rem;
  width: calc(100% - 2rem);
  border-radius: 0.5rem;
  filter: blur(4px);
  transition: 0.3s;
}
.projects .project-tile:hover img {
  filter: none;
}

.img-view {
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.img-view img {
  height: 100%;
  padding: 12px;
}

.autocomplete-options {
  background-color: white;
  color: black;
  width: -moz-min-content;
  width: min-content;
}
.autocomplete-options p {
  margin: 0;
  cursor: pointer;
}

.hidden {
  display: none;
}

p#input {
  outline: none;
  display: inline-block;
  margin: 0;
  min-width: 5rem;
}

.prompt-line {
  width: -moz-max-content;
  width: max-content;
  margin-top: 0;
}
.prompt-line > span:first-child {
  color: #f6d434;
}

.typing::after {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 1rem;
  background-color: white;
  font-weight: bold;
  transform: translateY(2px);
}

.ascii-art {
  white-space: pre-wrap;
  margin: 0;
  width: -moz-max-content;
  width: max-content;
}